      <tr id="attr-sp-<%= service_provider.id %>">
        <td><%= service_provider.name %></td>
        <td>
        <%= service_provider.idp_attributes.order(:id).map{|idp_attribute| idp_attribute.name}.join(', ') -%>&nbsp;
        </td>
        <td>
          <%= link_to 'Show', service_provider, remote: true, class: "btn btn-sm btn-secondary" %>
          <%= link_to 'Edit', edit_idp_attribute_assign_path(service_provider), remote: true, class: "btn btn-sm btn-secondary" %>
          <%= link_to 'Remove all attributes', {controller: :idp_attribute_assigns, action: :destroy, id: service_provider}, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
