<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">LDAP Attribute</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <div class="modal-body">
<p id="notice"><%= notice %></p>

<div class="form-group field">
  <strong><label class="control-label col-lg-2">Order</label></strong>
  <div class="form-control">
    <%= @ldap_attribute.order %>
  </div>
</div>

<div class="form-group field">
  <strong><label class="control-label col-lg-2">Name</label></strong>
  <div class="form-control">
    <%= @ldap_attribute.name %>
  </div>
</div>

<div class="form-group field">
  <strong><label class="control-label col-lg-2">Field type</label></strong>
  <div class="form-control">
    <%= @ldap_attribute.field_type.name %>
  </div>
</div>

<div class="form-group field">
  <strong><label class="control-label col-lg-2">Enable</label></strong>
  <%= @ldap_attribute.enable %>
</div>

  </div>

  <div class="modal-footer actions">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
  </div>
  </div>
</div>
