<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Service Provider</h5>
    </div>
  <div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @ldap_attribute.order %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ldap_attribute.name %>
</p>

<p>
  <strong>Attribute filter:</strong>
  <%= @ldap_attribute.attribute_filter %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @ldap_attribute.field_type %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @ldap_attribute.enable %>
</p>

  </div>

  <div class="modal-footer actions">
<%= link_to 'Edit', edit_ldap_attribute_path(@ldap_attribute) %> |
<%= link_to 'Back', ldap_attributes_path %>
  </div>
  </div>
</div>
