<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Service Provider</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <div class="modal-body">
<p id="notice"><%= notice %></p>

<div class="form-group field">
  <strong><label class="control-label col-lg-2">Name</label></strong>
  <div class="form-control">
    <%= @service_provider.name %>
  </div>
</div>

<div class="form-group field">
  <strong><label class="control-label col-lg-2">EntityID</label></strong>
  <div class="form-control">
    <%= @service_provider.entity_id %>
  </div>
</div>

<div class="form-group field">
  <strong><label class="control-label col-lg-2">Metadata</label></strong>
  <div class="form-control">
    <%= @service_provider.metadata %>
  </div>
</div>

<div class="form-group field">
  <strong><label class="control-label col-lg-2">Enable</label></strong>
  <%= @service_provider.enable %>
</div>

<div class="form-group field">
  <strong><label class="control-label col-lg-2">SendAttributes</label></strong>
  <div class="form-control">
    <%= @service_provider.idp_attributes.map(&:name).join(', ') %>
  </div>
</div>

  </div>

  <div class="modal-footer actions">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
  </div>
  </div>
</div>
