<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Service Provider</h5>
    </div>
  <div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_provider.name %>
</p>

<p>
  <strong>EntityID:</strong>
  <%= @service_provider.entity_id %>
</p>

<p>
  <strong>Certification:</strong>
  <%= @service_provider.certification %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @service_provider.enable %>
</p>

  </div>

  <div class="modal-footer actions">
    <%= link_to 'Edit', edit_service_provider_path(@service_provider) %> |
    <%= link_to 'Back', service_providers_path %>
  </div>
  </div>
</div>
