<div id="notice">
<% if flash[:notice].present? %>
  <div id="flash_notice" class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul>
    <% if flash[:notice].respond_to?(:each) -%>
    <% flash[:notice].each do |message| %>
      <li><%= message %></li>
    <% end %>
    <% else -%>
    <%= flash[:notice] %>
    <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:warn].present? %>
  <div id="flash_error" class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul>
    <% if flash[:warn].respond_to?(:each) -%>
    <% flash[:warn].each do |message| %>
      <li><%= message %></li>
    <% end %>
    <% else -%>
    <%= flash[:warn] %>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @id_provider.errors.any? %>
  <div id="flash_error" class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= pluralize(@id_provider.errors.count, "error") %> prohibited this IdP information from being saved:</strong>

    <ul>
    <% @id_provider.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>
<% end %>
</div>
