<%= form_with(model: id_provider, local: true) do |form| %>
  <% if id_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(id_provider.errors.count, "error") %> prohibited this id_provider from being saved:</h2>

      <ul>
      <% id_provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <strong><%= form.label :name, class: 'control-label col-lg-2' %></strong>
    <%= form.text_field :name, id: :id_provider_name, class: "form-control" %>
  </div>

  <div class="form-group field">
    <strong><%= form.label 'EntityId', class: 'control-label col-lg-2' %></strong>
    <%= form.text_field :entity_id, id: :id_provider_entity_id, class: "form-control" %>
  </div>

  <div class="form-group field">
    <strong><%= form.label :host_name, class: 'control-label col-lg-2' %></strong>
    <%= form.text_field :host_name, id: :id_provider_host_name, class: "form-control" %>
  </div>

  <div class="form-group field">
    <strong><%= form.label :scope, class: 'control-label col-lg-2' %></strong>
    <%= form.text_field :scope, id: :id_provider_scope, class: "form-control" %>
  </div>

  <div class="form-group field">
    <strong><%= form.label :cert, class: 'control-label col-lg-2' %></strong>
    <%= form.text_area :cert, id: :id_provider_cert, class: "form-control" %>
  </div>

  <div class="form-group field">
    <strong><%= form.label :key, class: 'control-label col-lg-2' %></strong>
    <%= form.text_area :key, id: :id_provider_key, class: "form-control" %>
  </div>

  <div class="form-group field">
    <strong><%= form.label :ca_cert, class: 'control-label col-lg-2' %></strong>
    <%= form.text_area :ca_cert, id: :id_provider_ca_cert, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
