<p id="notice"><%= notice %></p>

<h1>Id Providers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Entity</th>
      <th>Cert</th>
      <th>Key</th>
      <th>Ca cert</th>
      <th>Ldap connecter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @id_providers.each do |id_provider| %>
      <tr>
        <td><%= id_provider.name %></td>
        <td><%= id_provider.entity_id %></td>
        <td><%= id_provider.cert %></td>
        <td><%= id_provider.key %></td>
        <td><%= id_provider.ca_cert %></td>
        <td><%= id_provider.ldap_connecter %></td>
        <td><%= link_to 'Show', id_provider %></td>
        <td><%= link_to 'Edit', edit_id_provider_path(id_provider) %></td>
        <td><%= link_to 'Destroy', id_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Id Provider', new_id_provider_path %>
