<%= render 'flash' %>

<p>
  <strong>Name:</strong>
  <%= @id_provider.name %>
</p>

<p>
  <strong>EntityId:</strong>
  <%= @id_provider.entity_id %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @id_provider.host_name %>
</p>

<p>
  <strong>Scope:</strong>
  <%= @id_provider.scope %>
</p>

<p>
  <strong>Cert:</strong>
  <%= @id_provider.cert %>
</p>

<p>
  <strong>Key:</strong>
  <%= @id_provider.key %>
</p>

<p>
  <strong>Ca cert:</strong>
  <%= @id_provider.ca_cert %>
</p>

<%= link_to 'Edit', edit_id_provider_path(@id_provider) %> |
