<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Account</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<%= form_with(model: account, remote: true) do |form| %>
    <div class="modal-body">
    <%= render "modal_error", account: account %>

<% LdapAttribute.where(enable: true).order(:order).each do |ldap_attribute| -%>
    <div class="form-group field">
      <strong><%= form.label ldap_attribute.name, class: 'control-label col-lg-2' %></strong>
      <%= form.text_field ldap_attribute.name.underscore.to_sym, id: ldap_attribute.name.underscore, class: "form-control" %>
    </div>
<% end -%>
    </div>

  <div class="modal-footer actions">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
  </div>
</div>
